*{
box-sizing: border-box;
}
.main-box{
    width: 606px;
    border: 4px solid  magenta;
    margin: 0px;
}
.left-one{
    width: 444px;
    height: 150px;
    display: inline-block;
    padding: 0px;
}

.right-one{
    width: 150px;
    height: 150px;
    background-color: green;
    display: inline-block;
    padding: 0px;
}
.left-one2{
    width: 295px;
    height: 150px;
    display: inline-block;
    padding: 0px;
}
    .right-one2{
    width: 150px;
    height: 150px;
    background-color: green;
    display: inline-block;
    border: 6px solid black;
    padding: 0px;
}
.left-one3{
    width: 145px;
    height: 150px;
    display: inline-block;
    padding: 0px;
}
    .right-one3{
    width: 150px;
    height: 150px;
    background-color: green;
    display: inline-block;
    
    padding: 0%;
}
    .right-one4{
    width: 150px;
    height: 150px;
    background-color: green;
    display: inline-block;
    border: 6px solid black;
    padding: 0%;
}
.row
{
    height: 150px;
    padding: 0px;
    margin: 0px;
}

.box-second{
    display: block;
    width: 605px;
    border: 4px solid  magenta;
    padding: 0px;
}
.first-1{
    height: 150px;
    width: 150px;
    background-color: yellow;
    border:  6px solid red;
}
.first-2{
    height: 150px;
    width: 150px;
    background-color: red;
 padding: 0% auto;   
    display: inline-block; 
}
.first-02{
    height: 150px;
    width: 150px;
    background-color:yellow;
    border: 6px solid red;
    display: inline-block; 
    padding: 0px;
}
.first-3{
    height: 150px;
    width: 300px;
    background-color: red;
 padding: 0% auto;   
    display: inline-block; 
}
.first-03{
    height: 150px;
    width: 150px;
    background-color:yellow;
    border: 6px solid red;
    display: inline-block; 
    padding: 0px;
}

.first-4{
    height: 150px;
    width: 445px;
    background-color: red;
    display: inline-block; 
}
.first-04{
    height: 150px;
    width: 150px;
    background-color:yellow;
    border: 6px solid red;
    display: inline-block; 
    padding: 0px;
}

